name: simple example for continuous integration

on:
  push:
    branches: [main]

jobs:
  unit-api-test:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello GitHub Action!!"
      - name: Java Check
        run: java --version
      - name: check out code in build (virtual) machine
        uses: actions/checkout@v3
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Java Check
        run: java --version
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: Unit Test
        run: ./gradlew test -Dcalculator.url=http://localhost
      - name: Upload Jacoco Report
        if: always() # failure()
        uses: actions/upload-artifact@v3
        with:
          name: jacoco-report
          path: build/reports/jacoco/test/html
      - name: Api Test
        run: ./gradlew apiTest -Dcalculator.url=http://localhost
  docker-push:
    runs-on: ubuntu-latest
    needs: unit-api-test
    steps:
      - name: check out code in build (virtual) machine
        uses: actions/checkout@v3
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: build jar
        run: ./gradlew build
      - name: docker login
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PASSWD: ${{secrets.DOCKER_PASSWD}}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWD
#      - name: Generate build ID
#        id: prep
#        run: |
#          ts=$(date +%s)
#          echo "::set-output name=BUILD_ID::${ts}"
#      - name: Build the docker image
#        run: docker build -t insang/calculator:${GITHUB_SHA::8} .
      - name: Build the docker image
        run: docker build -t insang/calculator .
#      - name: docker push
#        run: docker push insang/calculator:${GITHUB_SHA::8}
      - name: docker push
        run: docker push insang/calculator
  deploy-to-staging-for-e2e-testing:
    runs-on: ubuntu-latest
    needs: docker-push
    steps:
      - name: docker run
        run: docker run -d --rm -p 8080:8080 --name calculator insang/calculator
#      - name: docker run
#        run:  docker run -d --rm -p 8080:8080 --name calculator insang/calculator:${GITHUB_SHA::8}
      - name: check out code in build (virtual) machine
        uses: actions/checkout@v3
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: setup chrome web driver
        uses: nanasess/setup-chromedriver@v1
      - name: e2e test
        run: |
          sleep 20
          ./gradlew e2eTest -Dcalculator.url=http://localhost:8080
